DATABASE_URL="postgresql://user:password@host:port/database"
PORT=3001

JWT_SECRET="tu_super_secreto_aqui"
JWT_EXPIRES_IN="1h" # Ejemplo: 1 hora. Otros formatos: "1d", "7d", "365d"

# Configuración del Broker MQTT
MQTT_BROKER_URL="mqtt://localhost:1883" # Cambiar por la URL del broker real si es necesario
MQTT_USERNAME="" # Dejar vacío si no se requiere autenticación
MQTT_PASSWORD="" # Dejar vacío si no se requiere autenticación
MQTT_CLIENT_ID="flujo_app_backend_dev" # ID único para este cliente backend

# URL del Frontend (para CORS de Socket.IO)
FRONTEND_URL="http://localhost:5173" # Ajustar si el frontend corre en otro puerto
